<div class="center jumbotron">
  <h1>Welcome to Stanley's Mini-Post App</h1>

  <h2>This is the home page for the Mini-Post App</h2>
  
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("nico.jpg", size: 300) %> 