<h1>Microposts App</h1>

<p>Hi <%= @user.name %>,</p>

<p>
  Please click on the link below to activate your account!
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>
