<footer class="footer">
  <small>
    The Mini-Post Application by Stanley Akyea
  </small>
  <nav>
    <ul> 
      <li><%= link_to 'About',   about_path %></li>
      <li><%= link_to 'Contact', contact_path %></li>
    </ul>
  </nav>
</footer>